<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Client: <%= @client.full_name %>, Team Availability Week of <%= @week.week_of %>
    </h1>

  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr align="center">
        <th>
          Time Slot
        </th>
        
        <th>
          Client Available?
        </th>
        
        <th>
          Client Action
        </th>
        
        <% @client.teams.each do |team| %>
        <th>
          <%= team.rbt.full_name %> Available?
        </th>
        <th>
          <%= team.rbt.full_name %> Action
        </th>
        <% end %>
      </tr>

      <% @slots.each do |slot| %>
        <tr>
          <td>
            <%= slot.slot_start.strftime("%a %-I:%M %P") %>
          </td>
          
            <% client_availability = slot.client_availabilities.find_by(client_id: @client.id) %>        
            <% if client_availability %>
              <td align="center">
                <i class="fas fa-check"></i>
              </td>
              <td>
                <a href="/delete_client_availability/<%= client_availability.id %>" class="btn btn-block btn-secondary">
                  Remove
                </a>
              </td>
            <% else %>
              <td align="center">
                
              </td>
              <td>
                <form action="/create_client_availability" method="post">
                  <input type="hidden" name="client_id" value="<%= @client.id %>">
                  <input type="hidden" name="slot_id" value="<%= slot.id %>">
                  <button class="btn btn-block btn-primary">
                    Add
                  </button>
                </form>
              </td>
            <% end %>
          
          <% @client.teams.each do |team| %>
            <% rbt_availability = slot.rbt_availabilities.find_by(rbt_id: team.rbt.id) %>
            <% if rbt_availability %>
              <td align="center">
                <i class="fas fa-check"></i>
              </td>
              <td>
                <a href="/delete_rbt_availability/<%= rbt_availability.id %>" class="btn btn-block btn-secondary">
                  Remove
                </a>
              </td>
            <% else %>
              <td align="center">
                
              </td>
              <td>
                <form action="/create_rbt_availability" method="post">
                  <input type="hidden" name="rbt_id" value="<%= team.rbt.id %>">
                  <input type="hidden" name="slot_id" value="<%= slot.id %>">
                  <button class="btn btn-block btn-primary">
                    Add
                  </button>
                </form>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
