<h1>
  Edit team #<%= @team.id %>
</h1>

<hr>

<form action="/update_team/<%= @team.id %>" method="post">

  <div class="form-group">
    <label for="client_name">
      Client
    </label>

    <%= select_tag("client_name", options_from_collection_for_select(Client.all, :id, :full_name), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="bcba_name">
      BCBA
    </label>

    <%= select_tag("bcba_name", options_from_collection_for_select(Bcba.all, :id, :full_name), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="rbt_name">
      RBT
    </label>

    <%= select_tag("rbt_name", options_from_collection_for_select(Rbt.all, :id, :full_name), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update team
  </button>
</form>

<hr>

<a href="/teams">
  Go back
</a>
