<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All client availabilities
    </h1>

    <!--<a href="/client_availabilities/new" class="btn btn-block btn-outline-secondary">-->
    <!--  Add a new client availability-->
    <!--</a>-->
  </div>
</div>


<!--<hr>-->

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Week of
        </th>

        <th>
          Slot start
        </th>

        <% @clients.each do |client| %>
        <th>
          <a href="/clients/<%=client.id %>">
            <%= client.full_name %>
          </a>
        </th>
        <% end %>

      </tr>

      <% @slots.each do |slot| %>
      <tr>
        <td>
          <%= slot.week.week_of %>
        </td>

        <td>
          <%= slot.slot_start.strftime("%a %-I:%M %P") %>
        </td>

        <% @clients.each do |client| %>
          <% client_availability = slot.client_availabilities.find_by(client_id: client.id) %>
          <% if client_availability %>
              <td>
                <a href="/delete_client_availability/<%= client_availability.id %>" class="btn btn-block btn-danger">
                  Remove Availability
                </a>
              </td>
          <% else %>
              <td>
                <form action="/create_client_availability" method="post">
                  <input type="hidden" name="client_id" value="<%= client.id %>">
                  <input type="hidden" name="slot_id" value="<%= slot.id %>">
                  <button class="btn btn-block btn-success">
                    Add Availability
                  </button>
                </form>
              </td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
